.SubpageNavigationTreeToggleHandlerAttached {
	cursor: pointer;
}

.SubpageNavigationTreeContainer .toctogglelabel {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.SubpageNavigationTreeContainer .toc {
	background: transparent;
}

.vector-legacy-sidebar .vector-menu-portal.mw-portlet-subpagenavigation-portlet {
	margin: 0;
}
